<!-- templates/index.html -->

{% extends 'base.html' %}

{% block content %}
  <div class="content_main px-3 h-full mx-auto border-l border-r border-solid border-gray-700">
    <div class="h-full w-small text-gray-100 bg-gray-800">

      <div class="py-5 border-b border-gray-700">
        <h1 class="font-semibold text-3xl text-yellow-200">ADP Timesheet Helper</h1>

        <p>
          A browser extension to make filling out ADP timesheets a little less
          headache inducing, by allowing importing data from spreadsheets.
          (Currently supports importing tab-separated or comma-separated values)
        </p>

        <div class="video_container w-fit mx-auto border border-gray-700 shadow">
          <video controls width="600">
            <source src="./videos/2024-01-06_19-17-39_adp-timesheet-helper-demo-2.mp4" type="video/mp4"/>
          </video>
        </div>

        <div class="flex flex-row gap-8 justify-center">
          <button class="btn btn-blue">
            <img class="w-10 mr-2 invert" src="./images/googlechrome.svg" aria-hidden="true" alt="chrome-icon"/>
            Get Extension for Chrome
          </button>
          <button class="btn btn-blue">
            <img class="w-10 mr-2 invert" src="./images/firefoxbrowser.svg" aria-hidden="true" alt="firefox-icon"/>
            Get Extension for Firefox
          </button>
        </div>

        <p>
          "ADP Timesheet Helper" is not endorsed by, directly affiliated with,
          maintained, authorized, or sponsored by ADP.
        </p>
      </div>

    </div>
  </div>
{% endblock content %}
